ACTION=="add|change", KERNEL=="sd*[!0-9]", ATTR{queue/rotational}=="1",ATTR{queue/scheduler}="mq-deadline"
ACTION=="add|change", KERNEL=="sd*[!0-9]", ATTR{queue/rotational}=="0",ATTR{queue/scheduler}="none"
