option domain-name "example.org";
option domain-name-servers ns1.example.org, ns2.example.org;

default-lease-time 600;
max-lease-time 7200;

ddns-update-style none;

INTERFACES="tap0";

subnet 10.0.2.0 netmask 255.255.255.0 {
	option routers 10.0.2.1;
	option domain-name-servers 10.0.2.1, 8.8.8.8;
	range 10.0.2.10 10.0.2.255;
}